@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




/* .btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
} */
.sidebar{
  position: fixed;
  width: 400px;
  height: 100%;
  left: 0px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{

  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}

#textareabt1 {
  width: 42em;
  height: 16em;
  border-radius: 10px;
}
#textareabt2 {
  width: 42em;
  height: 16em;
  border-radius: 10px;
}
#textarea {
  display: flex;
  justify-content: center;
}

#submitbt {
  position: absolute;
  background-color: #1b1b1b; 
  width: 24em;
  height: 4em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: cyan;
  border-width: 1px;
  border-style: solid;
}



#submitbt:hover{
 background-color: cyan;

}

 /* Force scrollbars onto browser window */
 body {
  margin-bottom: 200%;
  }
  

  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  
  box-shadow: inset 0 0 10px cyan;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: cyan;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: cyan;
  }
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  height: 100vh;
}
.sidebar{
  overflow-y: auto;
  height : 1000px;
}

/* /Modal credentials */
/* 
body {
  background:linear-gradient(to right, #3a7bd5, #3a6073);
  font-family:"Raleway",sans-serif;
  height:100vh;
}
.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.center button {
  padding:10px 20px;
  font-size:15px;
  font-weight:600;
  color:#222;
  background:#f5f5f5;
  border:none;
  outline:none;
  cursor:pointer;
  border-radius:5px;
}
.popup {
  position:absolute;
  top:-150%;
  left:50%;
  opacity:0;
  transform:translate(-50%,-50%) scale(1.25);
  width:380px;
  padding:20px 30px;
  background:#fff;
  box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius:10px;
  transition:top 0ms ease-in-out 200ms,
             opacity 200ms ease-in-out 0ms,
             transform 200ms ease-in-out 0ms; 
}
.popup.active {
  top:50%;
  opacity:1;
  transform:translate(-50%,-50%) scale(1);
  transition:top 0ms ease-in-out 0ms,
             opacity 200ms ease-in-out 0ms,
             transform 200ms ease-in-out 0ms;
}
.popup .close-btn {
  position:absolute;
  top:10px;
  right:10px;
  width:15px;
  height:15px;
  background:#888;
  color:#eee;
  text-align:center;
  line-height:15px;
  border-radius:15px;
  cursor:pointer;
}
.popup .form h2 {
  text-align:center;
  color:#222;
  margin:10px 0px 20px;
  font-size:25px;
}
.popup .form .form-element {
  margin:15px 0px;
}
.popup .form .form-element label {
  font-size:14px;
  color:#222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
  margin-top:5px;
  display:block;
  width:100%;
  padding:10px;
  outline:none;
  border:1px solid #aaa;
  border-radius:5px;
}
.popup .form .form-element input[type="checkbox"] {
  margin-right:5px;
}
.popup .form .form-element button {
  width:100%;
  height:40px;
  border:none;
  outline:none;
  font-size:16px;
  background:#222;
  color:#f5f5f5;
  border-radius:10px;
  cursor:pointer;
}
.popup .form .form-element a {
  display:block;
  text-align:right;
  font-size:15px;
  color:#1a79ca;
  text-decoration:none;
  font-weight:600;
} */