
  /* CSS global variables */
  :root {
    --lightblue: #0094D8;
    --darkblue: #003087;
    --boxblue: #0070BA;
    --palewhite: rgba(255, 255, 255, 0.7);
}

h1 {
    text-align: center;
    color: var(--boxblue);
}

p {
    text-align: center;
}

form{
    text-align: center;
}

select {
    font-size: 20;
}

textarea {
    width: 420px;
    height: 120px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--boxblue);
    border-radius: 10px;
    padding-left: 10px;
}

body {
    font-family: "Lato", sans-serif;
}

#title1 {
    margin-top: 10px;
    color: var(--lightblue);
    text-align: center;
}

#title2 {
    color: var(--darkblue);
    margin-top: 125px;
    text-align: center;
}

#textarea {
    display: flex;
    justify-content: center;
}

#textarea2 {
    width: 42em;
    height: 16em;
    border-radius: 10px;
}
#textarea3 {
    width: 42em;
    height: 16em;
    border-radius: 10px;
}

#textarea1 {
    width: 42em;
    height: 1em;
}

#textarea4 {
    display: inline-block;
    position: fixed;
    margin-top:120px ;
    left: 210px;
    height: 200px;
    width: 200px;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo_image {
    height: 100px;
    width: 200px;
    padding: 10px;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(var(--lightblue), var(--darkblue));
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: white;
}

.main {
    margin-left: 100px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--palewhite);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

 

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 0px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: var(--darkblue);
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-image: linear-gradient(var(--darkblue), var(--lightblue));
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}